
@mixin transitions($time, $easing, $delay:0s) {
  -webkit-transition: all $time $easing $delay;
     -moz-transition: all $time $easing $delay;
      -ms-transition: all $time $easing $delay;
       -o-transition: all $time $easing $delay;
          transition: all $time $easing $delay;
}


@mixin transition($collection, $time, $easing, $delay:0s) {
  @each $trans in $collection{
    -webkit-transition: #{$trans} $time $easing $delay;
       -moz-transition: #{$trans} $time $easing $delay;
        -ms-transition: #{$trans} $time $easing $delay;
         -o-transition: #{$trans} $time $easing $delay;
            transition: #{$trans} $time $easing $delay;
  }
}

@mixin transition-delay($time){
  -webkit-transition-delay: $time; /* Safari */
  transition-delay: $time;
}
       
@mixin animation($name, $time, $times:infinite) {
  -webkit-animation: $name $time $times;
     -moz-animation: $name $time $times; 
       -o-animation: $name $time $times;
          animation: $name $time $times;
}
        
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@mixin simple-transform($scalex: false, $scaley :false, $rotate: false, $trans-x: false, $trans-y: false){
  $trans: unquote("");
 
  $trans: $trans scale($scalex, $scaley);
  $trans: $trans rotateZ($rotate);
  $trans: $trans translate($trans-x, $trans-y);

  transform: $trans;

}