@import "../../bower_components/bootstrap/dist/css/bootstrap.css";
@import "mixins"; 
/*
End of mixins 
*/
$blue : #0081ff;

.centered{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
 }
 
 .atskr-container{
  width: 80px;
  position: absolute;
  right : 100px;
  @include transitions(1.2s, ease);
 

  &.enterAnimate{
    @include animation(enterRight, 2s, 1);
  }
 }

 .atskr{
 
    width: 80px;
    height: 80px;
    position: relative;
    @include transition-delay(0.5s);

    .atskr-circle{
      display: none;
      border: 2px solid white;
      border-radius: 100px;
       @include transitions(0.2s, ease-in-out);
       @include animation(circle-anim, 2.3333s);
       
       &.atskr-circle-two{
         animation-delay : 800ms;
       }

       &.blue{
          border-color : $blue;
       }
     }

   &.wave{
     .atskr-circle{
        display:block;
     }
   }

   .atskr-icon-container{
      color: white;
      height: 80px;
      width: 80px;
      background-color: $blue;
      border-radius: 100px;
      cursor: pointer;
      @include transition((background-color, opacity), 0.4s, ease);

      .atskr-icon{
        height: 50px;
        width: 50px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;

        &.ding{
          @include animation(ding, 1.1233s);
        }

        img, svg{
          width : 60px;
          height:  60px;
        }

        path{
          @include transition((fill), 0.4s, ease);
        }
      }

      path {
        fill : white;
      }

      

      &.pop{
        @include animation(pop, 1.3333s);
      }
   }
 }

@include keyframes(circle-anim) {
  0% {
    opacity: 1;
    transform: scale(.1);
  }
  60% {
     transform: scale(1.6);
  }
  100% {
    transform: scale(1.6);
     opacity: 0;
  } 
}

@include keyframes(pop) {
  0% {
    transform: scale(1.0);
  }
  60% {
     transform: scale(0.7);
  }
  100% {
    transform: scale(1.0);
     
  } 
}


@include keyframes(ding) {
  0% {
    transform: scale3d(1, 1, 1); 
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@include keyframes(enterRight) {
  0% {
    transform: translateX(400px);
  }

  70%, 90% {
    transform: translateX(-20px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0px);
  }
}


//Page

body{
  background : white;
  position: relative;
  color: white;
}
#container{
  position: relative;
}

.marketing{
  padding: 100px;
  background:  #72DFCB;
  .text-intro{
    font-size: 85px;
  }
}
img{
  max-width : 100%;
}

.images{
  padding : 30px;

  .example-image{
    height: 200px;
    overflow: hidden;
    padding: 0;
    img{
      min-width : 100%;
    }
  }
}

.cover{
  margin-top: 30px;
}

.title-images{
  color : #72DFCB;
  padding: 20px;
  font-weight: bold;
  font-size : 20px;
  margin-bottom: 20px;
}

footer{
  font-style: italic;
  padding: 30px;
  font-size : 15px;
  color : #72DFCB;
}
